.ipynb_checkpoints
.vscode
__pycache__
*.pyc
.DS_Store


mobilept_frontend_notebook/__pycache__
mobilept_frontend_notebook/captures
mobilept_frontend_notebook/DTW_data_archive
mobilept_frontend_notebook/fitness_poses_csvs_out
mobilept_frontend_notebook/fitness_poses_images_out
mobilept_frontend_notebook/intitial_rep_test_results
mobilept_frontend_notebook/rep_count_images
mobilept_frontend_notebook/rep_count_tmp
mobilept_frontend_notebook/.env
mobilept_frontend_notebook/intial_dtw_results
mobilept_frontend_notebook/intial_exercise_samples.json
mobilept_frontend_notebook/rep_counter_initial_stress_test.csv

*.env

mobilept_backend/exercise_tracker/utils/fitness_poses_csvs_out
mobilept_backend/exercise_tracker/utils/fitness_poses_images_out
mobilept_backend/exercise_tracker/utils/rep_count_images
mobilept_backend/fixtures